/*======= Hero Area =======*/

.about-hero-area {
    margin-top: -30px;
    padding: 200px;
    background-position: center;
    background-repeat: no-repeat;
    h2 {
        color:white;
        font-size: 64px;
        font-weight: 700;
        line-height: 62px;
    }
}

.contact-hero-area {
    margin-top: -33px;
    padding: 200px;
    background-position: center;
    background-repeat: no-repeat;
    h2 {
        color:white;
        font-size: 64px;
        font-weight: 700;
        line-height: 62px;
    }
}
